{
  "ALGOLIA_KEY": "ff..",
  "ALGOLIA_PROJECT": "X..",
  "UPDATE_CODE": "b...",
  "BLOCKBERRY_API": "oo4...",
  "INFURA_IPFS_KEY": "2S..",
  "INFURA_IPFS_SECRET": "cd...",
  "INFURA_URL": "https://ipfs.infura.io:5001",
  "IPFS_URL": "https://....mypinata.cloud/ipfs/",
  "IPFS_TOKEN": "gFu...",
  "PINATA_JWT": "eyJ...",
  "IPFS_PIN_URL": "https://api.pinata.cloud/pinning/pinFileToIPFS",
  "MINANFT_JWT": "eyJ...",
  "TEST_ACCOUNTS": [
    {
      "privateKey": "EK...",
      "publicKey": "B62..."
    },
    {
      "privateKey": "EK...",
      "publicKey": "B62..."
    }
  ]
}
